@media (max-width: 600px) {    
  body,h1,span,button { 
    font-size: 12px; 
  }

  .cards div {
     margin-right: 10px;
     background-size: 80px 80px;
      width:80px !important;
      height:80px !important;
  }
} 
@media (min-width: 600px) {    
  body,h1,span,button { 
    font-size: 16px; 
  }

   .cards div {
     margin-right: 20px;
     background-size: 90px 90px;
      width:90px !important;
      height:90px !important;
  }
} 
@media (min-width: 1200px) {    
  body,h1,span,button { 
    font-size: 20px; 
  }

   .cards div {
     margin-right: 35px;
     background-size: 100px 100px;
      width:100px !important;
      height:100px !important;
  }
}

  body { 
    font-size: 20px; 
    }
 
 h1 {
      color: #FFFFFF;
      background-color: #448AA5;
      padding: 15px;
      font-weight:bold;
    }
    
    .cards div {
      display:inline-block;
      cursor: pointer;
      background-color:#448AA5;
      /*background-image:url("../assets/img/cover.jpg");*/
      margin-top: 10px;
      border-radius: 4px;
      -webkit-transition: background-color 2s;
      transition: background-color 2s;
      padding-left:0px !important;
 
    }

    .cards p{
      display: none;
    }

   
    .cards div.encontrado {
      background-color: #FFFFFF !important;
      cursor: auto !important;
    }

     .cards p.virado {
      display:block;
      font-size:12px;
    }

    .cards div:hover {
      border-bottom-right-radius:15px;
      background-color: #4CAF50;
    }
    img {
    	width:100px;
    	height:100px;
    }
    .panel-top {
      margin-top:10px;
      color: #448AA5;
      font-weight: bold;
    }
    button.reset {
      cursor: pointer;
      text-align: center;
      border: none;
      border-radius: 4px;
      color: white;
      margin-right: 10px;
      text-align: center;
      display: inline-block;
    }


