ul {
    list-style-type: none;
    margin-top:20px;
}

li{
    margin-bottom:20px;
}

p{
    margin-top:70px;
    margin-bottom:20px;
}

@media (max-width: 599px) {  
    img{
        width: 65%;
        height: 65%;
    }
}

